@mixin blue-bg() {
  background-color: #0099CC;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-image: url("//cm-branding.googlecode.com/files/bluebg-phone.jpg");

  @include breakpoint(481px) {
    background-image: url("//cm-branding.googlecode.com/files/bluebg-tablet.jpg");
  }

  @include breakpoint(768px) {
    background-image: url("//cm-branding.googlecode.com/files/bluebg.jpg");
  }
}
