$gray: #555555;
$lightgray: #BBBBBB;
$black: #222222;
$darkblue: #005f7e;
$color-primary: #0099CC;

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be a different size and not have it effect grid size too,
// set the value of $em-base to $base-font-size ($em-base: $base-font-size;)
$em-base: 16px !default;
